{% load staticfiles %}
<!DOCTYPE html>
<html>

  <head>

    <meta charset="utf-8">
    <title>Curso</title>
    <!-- chamando o bootstrap -->
    <link href= {% static "css/bootstrap.min.css" %} rel="stylesheet">
      <!-- chamando a folha de estilo-->
      <link rel="stylesheet" type="text/css" href= {% static "css/style.css" %}>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- chamando JS -->
      <script src={% static "js/bootstrap.js" %}></script>

  </head>

  <body onload="enviardados();">

    <!-- container da página toda -->
    <div class="container-desktop">

      <!-- container da header com logo -->
      <header class="container-fluid">

        <nav style="background-color: #0C3953;" class="navbar navbar-default navbar-fixed-top">

          <div class="navbar-header">
            
            <div class="imglogo">
                
              <img src= {% static "images/logo.png" %}>

            </div>

          </div>
        </nav>



      </header>
      <!-- fim do container header -->

          <!-- container do menu de navegação -->
          <div class="container">
            
            <div id="navbar" class="navbar-collapse collapse">

              <ul class="nav nav-pills">
                
                <li id="links"><a href="{% url 'page.views.consulta' %}">Consulta</a></li>
                <li id="links" class="dropdown">
                  <a href="#"
                  class="dropdown-toggle"
                  data-toggle="dropdown"
                  role="button" aria-haspopup="true" 
                  aria-example="false">Professor</a>
                  <!-- links do dropdown -->
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'page.views.cadastro' %}">Cadastrar</a></li>
                    <li><a href="{% url 'page.views.tabela_professor' %}">Alterar</a></li>
                  </ul> <!-- dropdown menu -->
                </li> <!-- dropdown -->
                <li id="links" class="dropdown">
                  <a href="#"
                  class="dropdown-toggle"
                  data-toggle="dropdown"
                  role="button" aria-haspopup="true" 
                  aria-example="false">Disciplina</a>
                  <!-- links do dropdown -->
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'page.views.cadastro_Disciplina' %}">Cadastrar</a></li>
                    <li><a href="{% url 'page.views.tabela_disciplina' %}">Alterar</a></li>
                  </ul> <!-- dropdown menu -->
                </li> <!-- dropdown -->
                <li id="links" class="dropdown">
                  <a href="#"
                  class="dropdown-toggle"
                  data-toggle="dropdown"
                  role="button" aria-haspopup="true" 
                  aria-example="false">Curso</a>
                  <!-- links do dropdown -->
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'page.views.cadastro_curso' %}">Cadastrar</a></li>
                    <li><a href="{% url 'page.views.tabela_curso' %}">Alterar</a></li>
                  </ul> <!-- dropdown menu -->
                </li> <!-- dropdown -->
                <li id="links" class="dropdown">
                  <a href="#"
                  class="dropdown-toggle"
                  data-toggle="dropdown"
                  role="button" aria-haspopup="true" 
                  aria-example="false">Prova</a>
                  <!-- links do dropdown -->
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'page.views.cadastro_Prova' %}">Cadastrar</a></li>
                    <li><a href="{% url 'page.views.tabela_prova' %}">Alterar</a></li>
                  </ul> <!-- dropdown menu -->
                </li> <!-- dropdown -->               
                <li id="links"><a href="{% url 'django.contrib.auth.views.logout' %}">Sair</a></li>

              </ul>

            </div>

          
          </div>
          <!-- fim do container menu de navegação -->
<!--container do formulário e do nome da página -->
          <div style="margin-top: 2%;" class="container">

              <!-- titulo da tela -->
              <h3 id="cortexto" style="text-align: center;">Alterar Curso</h3>
              
              <form style="margin-top: 2%;" class="form-group row" method="POST">
              {% csrf_token %}
                
                <ul id="cortexto" style="list-style-type: none;">
    
                    <li class="col-md-6">
                        <label for="exampleInputEmail1">Curso</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Digite o nome do curso" name="nome" value="{{post.nome}}">
                      </li>
                      <li class="col-md-2">
                      </li>
                          
                      <li class="col-md-1">
                        <label for="exampleInputEmail1">Turma</label>
                        <select class="form-control" id="turma" name="turma">
                    </select> 
                      </li> 
                      <li class="col-md-2">
                      </li>                           
                      <li style="margin-top: 2.1%;" class="col-md-3">
                      <input style="width: 100%;" type="submit" class="btn btn-primary" id="exampleInputEmail1" value="Alterar">
                      </li>
                    </ul>

              </form>

          </div>
          <!-- fim do container formulário -->

    </div>
  </body>

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- chamando JS -->
    <script src={% static "js/bootstrap.js" %}></script>
    <script type="text/javascript">

      function enviardados(){
      var nome = document.getElementById("turma");
     for(i=1;i<nome.length;i=i+1){
     nome.remove(i);
      }
     for (var i = 0,j=0; i<=6; i++) {
        if (i==0) {
          var opt = document.createElement("option")
          opt.value = "{{post.turma}}";
          opt.text = "{{post.turma }}";
          nome.add(opt, nome.options[0]);
        }
        if (i==2) {
         var opt = document.createElement("option")
          opt.value = "A";
          opt.text = "A";
          nome.add(opt, nome.options[2]);
 
        }   

        if (i==3) {
         var opt = document.createElement("option")
          opt.value = "B";
          opt.text = "B";
          nome.add(opt, nome.options[3]); 
        }

        if (i==4) {
         var opt = document.createElement("option")
          opt.value = "C";
          opt.text = "C";
          nome.add(opt, nome.options[4]);
        }
        if (i==5) {
         var opt = document.createElement("option")
          opt.value = "D";
          opt.text = "D";
          nome.add(opt, nome.options[5]);
        }
        if (i==6) {
         var opt = document.createElement("option")
          opt.value = "E";
          opt.text = "E";
          nome.add(opt, nome.options[6]);
        }         
      }
         
      }
    
    

    </script>

</html>